.waiter-view {
  background-image: url(/src/components/images/wallpaper-views.png);
  display: grid;
  grid-template-columns: 5% 5% 10% 9% 2% 9% 5% 5% 5% 5% 10% 15% 5% 5% 5%;
  grid-template-rows: 5% 5% 4% 3% 2% 4% 14% 20% 10% 3% 7% 5% 3% 5% 5% 5%;
  height: 100vh;
}

.button-breakfast {
  grid-column: 3/5;
  grid-row: 3/5;
}

.button-burgers {
  grid-column: 6/9;
  grid-row: 3/5;
}

.breakfast-menu {
  grid-row: 6/13;
  grid-column: 3/9;
}

.price-title {
  display: table;
  padding: 0 0.5rem;
  margin: -2.5rem 0 1rem 65%;
  font-size: 1rem;
  background-color: #fff;
}

.menu {
  grid-column: 2/15;
  grid-row: 2/16;
  background-color: #8db3b8ce;
}

.order {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 5% 5% 7% 3%;
  height: 100%;
}

.total {
  grid-row: 5/6;
}

.done-button {
  grid-column: 1/6;
  grid-row: 7/9;
}

@media (max-width: 1024px) {
  .price-title {
    display: table;
    padding: 0 0.5rem;
    margin: -2.5rem 0 1rem;
    font-size: 1rem;
    background-color: #fff;
    margin-left: 72%;
  }
}
