.final-order {
  grid-column: 10/14;
  grid-row: 3/13;
  background-color: #aedea9c5;
}

.total-title {
  width: 29vw;
  margin-right: 5%;
}

.products {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 10% 10%;
  grid-template-rows: 20% 20% 20% 17% 5% 5% 10% 3%;
  height: 100%;
  width: 32vw;
  margin-left: -15px;
}

.title-price {
  grid-column: 1/1;
}

.lists {
  grid-column: 1/8;
  grid-row: 1/6;
  width: 100%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  display: none;
}

.send-order {
  grid-column: 1/7;
  grid-row: 7/7;
}

li {
  display: grid;
  grid-template-columns: 5% 5% 10% 20% 20% 10% 5% 10% 5% 10%;
  justify-items: center;
  align-items: baseline;
}

.item-name {
  grid-column: 2/6;
}

.item-price {
  grid-column: 8/9;
}

.button-remove {
  grid-column: 10/10;
  background-color: #b30c00;
  box-shadow: inset -6px -6px #b30000;
  color: #fff;
  border: none;
}

@media (max-width: 1024px) {
  li {
    width: 32vw;
    margin-left: -41px;
  }

  .products {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 10% 10%;
    grid-template-rows: 20% 20% 20% 17% 5% 5% 10% 3%;
    height: 100%;
    width: 32vw;
    margin-left: -20px;
  }
}
