@media (max-width: 1024px) {
  .home {
    background-image: url(home-copia.png);
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 100vh;
    display: grid;
    justify-items: stretch;
    grid-template-columns: 20% 20% 10% 10% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  .welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 1/1;
    grid-column: 2/5;
    font-size: 30px;
    color: #fa04fb;
    font-family: "Press Start 2P", cursive;
  }

  #buttons {
    background-color: #fb04fbcb;
    font-family: "Press Start 2P", cursive;
    color: rgba(0, 0, 0, 0.651);
    border: none;
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 1px 10px 2px #f964f9;
  }

  .login-user {
    grid-column: 4/9;
    grid-row: 1/13;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    background-color: #00000070;
  }

  .formUsers {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-row: 2/5;
    grid-column: 2/5;
    display: flex;
  }

  .inputs {
    display: flex;
    flex-direction: column;
    /* box-shadow: 1px 10px 25px black; */
  }

  input {
    font-family: "Cabin Sketch", cursive;
    border: none;
    color: rgb(231, 237, 241);
    /* box-shadow: 1px 10px 25px black; */
    font-size: 20px;
    width: 350px;
    height: 50%;
  }

  .gap {
    grid-row: 2/2;
    grid-column: 2/5;
    margin: -35px;
    background-color: #fa04fb;
    box-shadow: 0px 1px 10px 2px #f964f9;
  }
}
