.home {
  background-color: #9ceaff;
  background-size: 100% 100%;
  background-attachment: fixed;
  height: 100vh;
  display: grid;
  justify-items: stretch;
  grid-template-columns: 20% 20% 10% 10% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.burger-img {
  grid-row: 3/4;
  grid-column: 1/4;
  align-self: center;
  image-rendering: pixelated;
}
.durrr {
  grid-row: 1/1;
  grid-column: 2/2;
  color: #ff6b72;
  font-size: 60px;
  align-self: end;
  margin-bottom: -30%;
  margin-left: -38%;
}
.burger {
  grid-row: 5/6;
  grid-column: 2/2;
  color: #ffb26b;
  font-size: 60px;
  margin-left: -50%;
  margin-top: -30%;
}

.button-home {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}

.hey-there {
  width: 50%;
}

.container-buttons {
  grid-column: 4/9;
  grid-row: 1/13;
}

.login-user {
  grid-column: 4/9;
  grid-row: 1/13;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  background-color: #8db3b8;
  margin: 5%;
}

.formUsers {
  display: flex;
  flex-direction: column;
  grid-row: 1/6;
  grid-column: 1/6;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
}

.inputs {
  display: flex;
  flex-direction: column;
}
