.chef-view {
  background-image: url(/src/component/images/wallpaper-views.png);
  display: grid;
  grid-template-columns: 20% 20% 10% 10% 20% 20%;
  grid-template-rows: 20% 20% 20% 20% 20%;
  height: 100vh;
}
